<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>::: US Leave Planner :::</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#34495e" style="padding: 20px 0 15px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
							<img src="images/logo.png" alt="Leave Planner" width="180" height="41" style="display: block;" />
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 0px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td colspan="3" style="color: #153643; font-family: Lato,sans-serif; font-size: 24px;">
										<b>Work On Weekend Request</b>
									</td>
								</tr>
								<tr>
								  <td colspan="3" style="padding: 0px; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;">&nbsp;</td>
							  </tr>
								<tr>
								  <td width="29%" style="padding: 5px 0 10px 0; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;">Requested By</td>
								  <td width="3%" style="padding: 5px 0 10px 0; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;">:</td>
								    <td width="68%" style="padding: 5px 0 10px 0; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;">@Model.RequestedBy</td>
					          </tr>
								<tr>
								  <td style="padding: 5px 0 10px 0; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;">Date</td>
								  <td style="padding: 5px 0 10px 0; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;">:</td>
								  <td style="padding: 5px 0 10px 0; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;">@Model.Date</td>
							  </tr>
								<tr>
								  <td style="padding: 5px 0 10px 0; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;">Reason</td>
								  <td style="padding: 5px 0 10px 0; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;">:</td>
								  <td style="padding: 5px 0 10px 0; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;">&nbsp;</td>
							  </tr>
								<tr>
								  <td colspan="3" style="padding: 5px 0 10px 0; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;"><label for="textarea"></label>
							      <textarea name="textarea" id="textarea" cols="45" rows="3" style="color: #153643; font-family: Lato, sans-serif; font-size: 16px; border-radius:4px 4px 4px 4px; padding: 5px; border: 1px solid #C1C1C1;;
	resize: vertical; width: 530px;">@Model.Reason</textarea></td>
							  </tr>
								<tr>
								  <td colspan="3" style="padding: 20px 0 0 0; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;">
                                  <table width="530" border="0" cellspacing="0" cellpadding="0" style="border: medium none; border: 1px solid #C1C1C1; font-family: Lato,sans-serif; border-collapse: separate; border-spacing: 0; font-size: 16px; margin-bottom: 15px; padding: 15px; width: 100%; color: #666; border-radius: 4px 4px 4px 4px;">
  <tr>
    <td width="30%" style="border-bottom: 1px solid #C1C1C1; padding-bottom: 5px;"><strong>Requested By</strong></td>
    <td width="70%" style="border-bottom: 1px solid #C1C1C1; padding-bottom: 5px;"><strong>Name</strong></td>
  </tr>
  
           @foreach (var data in Model.WeekendResourceModels)
           {
               <tr >
                   <td style="font-size: 13px; padding: 5px 0px; color:#ee4c50;">@data.ResourceCode</td>
                   <td style="font-size: 13px; padding: 5px 0px;">@data.PersonName</td>                  
                   
               </tr>
           }  
                                                                               
                                  </table></td>
							  </tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #ffffff; font-family: Lato, sans-serif; font-size: 12px;">
										Copyright © 2014 Unicorn Solutions. All Rights Reserved. 
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>