<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>::: US Leave Planner :::</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#34495e" style="padding: 20px 0 15px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
							<img src="../../../UnicornRMS/Images/logo.png" alt="Leave Planner" width="180" height="41" style="display: block;" />
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 0px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td colspan="3" style="color: #153643; font-family: Lato,sans-serif; font-size: 24px;">
										<b> Lunch</b>
							        <b>Order</b></td>
								</tr>
								
								  <td colspan="3" style="padding: 20px 0 0 0; color: #153643; font-family: Lato, sans-serif; font-size: 16px; line-height: 20px;">
                                  <table width="530" border="0" cellspacing="0" cellpadding="0" style="border: medium none; border: 1px solid #C1C1C1; font-family: Lato,sans-serif; border-collapse: separate; border-spacing: 0; font-size: 16px; margin-bottom: 15px; padding: 15px; width: 100%; color: #666; border-radius: 4px 4px 4px 4px;">
  <tr>
    <td width="30%" style="border-bottom: 1px solid #C1C1C1; padding-bottom: 5px;"><strong>Lunch Type</strong></td>
    <td width="70%" style="border-bottom: 1px solid #C1C1C1; padding-bottom: 5px;"><strong>Count</strong></td>
  </tr>
  <tr>
    <td style="font-size: 13px; padding: 5px 0px; color:#ee4c50;">Chicken</td>
    <td style="font-size: 13px; padding: 5px 0px;">@Model.Nchecken</td>
  </tr>
  <tr>
    <td style="font-size: 13px; padding: 5px 0px; color:#ee4c50;">Egg</td>
    <td style="font-size: 13px; padding: 5px 0px;">@Model.Negg</td>
  </tr>
  <tr>
    <td style="font-size: 13px; padding: 5px 0px; color:#ee4c50;">Fish</td>
    <td style="font-size: 13px; padding: 5px 0px;">@Model.Nfish</td>
  </tr>
  <tr>
    <td style="font-size: 13px; padding: 5px 0px; color:#ee4c50;">Vegetable</td>
    <td style="font-size: 13px; padding: 5px 0px;">@Model.Nvegetable</td>
  </tr>
   <tr>
    <td style="font-size: 13px;  style="border-bottom: 1px solid #C1C1C1; padding: 5px 0px; color:#ee4c50;"><strong>Total</strong></td>
    <td style="font-size: 13px;  style="border-bottom: 1px solid #C1C1C1; padding: 5px 0px;"><strong>@Model.total</strong></td>
  </tr>
</table></td>
							  </tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #ffffff; font-family: Lato, sans-serif; font-size: 12px;">
										Copyright © 2014 Unicorn Solutions. All Rights Reserved. 
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>